body {
    background-color: #f5f5f5;
}

#main-content {
    
    padding: 2em 3em;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.container {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

fieldset.scheduler-border {
    border: 1px groove #ddd !important;
    padding: 0 0.5em 0.5em 0.5em !important;
    margin: 0 0 0.0em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}

legend.scheduler-border {
    width:inherit; /* Or auto */
    padding:0 10px; /* To give a bit of padding on the left and right */
    border-bottom:none;
}

#backgroundImage {
        background: url("/images/7th_Heaven_exterior_in_FFVII_Remake.jpg") no-repeat center;
        background-size: cover;
}

canvas {
  width: 100%;
  height: auto;
}

img {
  display: block;
  max-width: auto;
  height: 100%;
}

.height-full {
  height: 100vh;
}

.width-full {
  width: 100vh;
}

.state {
	width: 20em;
}

.stateValue {
	color: #be5683;
}

.barmanState0 {
	color: #0094ff;
}

.barmanState1 {
	color: #da5637;
}

.barmanState2 {
	color: #bd002c;
}

.btn-size {
	width: 3em;
}

.btn-size-lg {
	width: 10em;
}

.row-pad {
	padding-bottom: 0.5em;
}

.input-disabled {
	pointer-events: none;
	opacity: 0.4;
}