<!DOCTYPE html>  
<html>  
<head>  
    <title>Login page</title>
    <meta name="viewport"
	content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <!--<link th:href="@{/public/css/style.css}"/>-->
    
<link href="/css/main.css" rel="stylesheet">
<link href="/css/bootstrap.min.css" rel="stylesheet">
<script src="/js/jquery.min.js" type="text/javascript"></script>
<script src="/js/bootstrap.min.js" type="text/javascript"></script>
      
</head>
<body>    
    <div class="jumbotron jumbotron-fluid" id="backgroundImage">
		<div id="container"class="container-fluid width-full height-full">
			<div class="row">
				<div class="col-12 col-md-12 col-lg-8 offset-lg-2">
					<fieldset class="scheduler-border bg-dark text-light"><legend class="scheduler-border text-info">Log in Tearoom Robot</legend>
						<form th:action="@{/login.html}" method="post">
						    <div class="form-group">
								<label for="username">Username</label>
								<input class="form-control" type="text" id="username" name="username" autofocus="autofocus" aria-describedby="userHelp" placeholder="Enter user">
							</div>
							<div class="form-group">
								<label for="password">Password</label>
								<input class="form-control" type="password" id="password" name="password" placeholder="Password">
							</div>
							<input id="submit" type="submit" value="Log in" class="btn btn-info d-flex justify-content-center d-md-table mx-auto form-group"/>
							<p th:if="${loginError}" class="error">Wrong user or password</p>
							<!--
							    <div class="row"><input class="form-control" type="text" id="username" name="username" autofocus="autofocus"/></div>  
						        <div class="row"><label for="password">Password</label></div> 
						        <div class="row"><input class="form-control" type="password" id="password" name="password"/></div>   
						        <div class="row"><input id="submit" type="submit" value="Log in" class="btn btn-info d-flex justify-content-center d-md-table mx-auto"/></div> 
							    
						    	<p th:if="${loginError}" class="error">Wrong user or password</p>
						    </div>
						    -->
						</form>
    				</fieldset>
    			</div>
    		</div>
    	</div>
	</div>  
</body>  
</html>